@use "variables" as *;
@use "highlight.js/styles/stackoverflow-dark.css";

article {
  padding: 1rem !important;
  line-height: 1.75;

  br {
    display: block;
    margin: .5rem;
  }

  h2 {
    margin-left: 0;
  }

  h3 {
    margin-left: 1.5rem;
  }

  h4 {
    margin-left: 3rem;
  }

  h5 {
    margin-left: 4.5rem;
  }

  img {
    display: block;
    margin: auto;
    max-width: 60%;
  }

  img:hover {
    max-width: 100%;
    transition: max-width 1s;
  }

  code {
    padding: .2rem $border-radius-light;
    border-radius: $border-radius-light;
    background-color: $code-background-color;
    color: $code-color;
  }

  .code-container {
    display: block;
    position: relative;
    border-radius: $border-radius-light;
    background-color: $code-background-color;

    .code-header {
      display: none;
      position: absolute;
      top: $border-radius-light;
      right: $border-radius-light;
      z-index: 1000;
      color: $code-type-color;
    }

    &:hover {
      .code-header {
        display: block;
      }
    }

    pre {
      display: block;
      max-height: 35rem;
      overflow: hidden;

      &:hover, &:focus {
        overflow: auto;
      }
    }
  }
}
