<div class="col-12 col-md-6 col-lg-6 type-{{type}}">
    <div class="row mx-auto box box-animation bg-color-{{type}}">
        <h4 class="text-left text-md-center text-lg-center col-5 col-md-12 col-lg-12">
            {{label}}
            <hr class="d-none d-md-block d-lg-block"/>
        </h4>
    
        <div class="d-none d-md-block d-lg-block col-6">
            <h5 class="text-center">Comments :</h5>
            {{commentary}}
        </div>
    
        <div class="col-7 col-md-6 col-lg-6">
            <h5 class="text-center">Entreprises :</h5>
            <ul>
                {{experiences}}
            </ul>
        </div>
    
        <div class="col-12">
            <h5 class="text-center">Level :</h5>
            <div class="progress">
                <div class="progress-bar bg-success"
                    role="progressbar"
                    style="animation-name:percent{{lvl}}; animation-duration: 5s; width: {{lvl}}%"
                    aria-valuenow="{{lvl}}%"
                    aria-valuemin="0"
                    aria-valuemax="100">{{lvl}}%</div>
            </div>
        </div>
    </div>
</div>