@import "fonts";
@import "animations";
@import "article";
@import "print";
@import "bootstrap-configuration";
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-svg-core/styles.css";

h1, h2, h3, h4, h5, h6 {
  font-family: title;
}

.cursor-link {
  cursor: pointer;
}

.section-title {
  color: #fff;
  text-shadow: 0 0 .5rem #000;
  text-align: center;
  margin-top: 0.5rem;

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    margin-top: 3.5rem;
  }
}

.page-indicator {
  color: #fff;
  text-shadow: 0 0 .5rem #000;
  text-align: center;
}

.box {
  border-radius: $border-radius;
  margin-bottom: 1.5rem;
  background-color: #ffffffd7;
  padding: .75rem;
  backdrop-filter: blur(8px);
}

#bg-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: 0.5;
}

.bg-parallax {
  background-image: url("../img/wallpaper-header.webp");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    background-size: auto;
  }
}
