@media print {
  nav, footer, #bg-canvas {
    display: none !important;
  }

  body, h1, h2, h3, h4, h5 {
    font-family: print !important;
    text-shadow: none !important;
  }

  a {
    color: #000 !important;
  }

  div, .text-article pre {
    max-height: none !important;
    white-space: normal !important;
  }
}
