// Bootstrap configuration
$theme-colors: (
        dark: #343a40,
        light: #f8f9fa,
        article-information: #f9f9ff,
        competence-framework: #e8b6b6d7,
        competence-language: #d7d4ffd7,
        competence-ide: #fff0d4d7,
        competence-db: #b6e8d4d7,
        competence-bigData: #edc4ffd7,
        competence-dataScience: #c4ecffd7,
        competence-os: #fad9bfd7,
        competence-infra: #bfd2fad7,
        competence-network: #fffddcd7,
        competence-tool: #dcfdffd7,
        competence-management: #cfb7cfd7,
);

$container-max-widths: (
        xl: 1400px,
        xxl: 1500px,
);

$enable-rounded: false;
$enable-grid-classes: true;

$list-group-item-padding-y: .75rem;
$list-group-item-padding-x: 1.25rem;

$navbar-padding-x: .75rem;

// Imports
@import "../../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fonts.scss";
@import "./animations.scss";
@import "./article.scss";
@import "./print.scss";

// Custom
h1, h2, h3, h4, h5, h6 {
  font-family: title;
}

.cursor-link {
  cursor: pointer;
}

.section-title {
  color: #fff;
  text-shadow: 0 0 .5rem #000;
  text-align: center;
  margin-top: 0.5rem;

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    margin-top: 3.5rem;
  }
}

.page-indicator {
  color: #fff;
  text-shadow: 0 0 .5rem #000;
  text-align: center;
}

.box {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  background-color: #ffffffd7;
  padding: .75rem;
  backdrop-filter: blur(8px);
}

#bg-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: 0.5;
}

.bg-parallax {
  background-image: url("../img/wallpaper-header.webp");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;

  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    background-size: 125vw;
  }

  @media screen and (max-width: map-get($grid-breakpoints, "md")) {
    background-size: 150vw;
  }

  @media screen and (max-width: map-get($grid-breakpoints, "sm")) {
    background-size: 200vw;
  }
}
