@keyframes rotation {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-45deg) }
  50% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes boxHover {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-1deg) }
  75% { transform: rotate(1deg) }
  100% { transform: rotate(0deg) }
}

@keyframes competenceTitleHover {
  0% { min-width: 250px }
  20% { min-width: 300px }
  50% { min-width: 275px }
  80% { min-width: 300px }
  100% { min-width: 250px }
}

#chat-button:hover {
  animation-name: rotation;
  animation-duration: 3s;
}

.box-animation:hover {
  animation-name: boxHover;
  animation-duration: 1s;
}

.competence-title:hover {
  min-width: 275px;
  animation-name: competenceTitleHover;
  animation-duration: 1s;
}
