@keyframes boxHover {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-1deg) }
  75% { transform: rotate(1deg) }
  100% { transform: rotate(0deg) }
}

@keyframes competenceTitleHover {
  0% { min-width: 250px }
  20% { min-width: 300px }
  50% { min-width: 275px }
  80% { min-width: 300px }
  100% { min-width: 250px }
}

@keyframes progress-bar-animation {
  0% {
    background-color: $red;
    width: 0%;
  }
}

@mixin progress-bar-animation-x($percent) {
  width: 1% * $percent;
  background-color: mix(#29ab2e, #dc3545, $percent * 1%);
  animation-name: progress-bar-animation;
  animation-duration: 0.05s * $percent;
}

@for $i from 0 through 100 {
  .progress-bar-animation-#{$i} { @include progress-bar-animation-x($i) }
}

.box-animation:hover {
  animation-name: boxHover;
  animation-duration: 1s;
}

.competence-title:hover {
  min-width: 275px;
  animation-name: competenceTitleHover;
  animation-duration: 1s;
}
