.text-article {
  text-align: justify;
  padding: 10px !important;
  line-height: 1.75;
}

.text-article br {
  display: block;
  margin: 5px;
}

.text-article h2 {
  margin-left: 0px;
}

.text-article h3 {
  margin-left: 20px;
}

.text-article h4 {
  margin-left: 60px;
}

.text-article h5 {
  margin-left: 80px;
}

.text-article img {
  display: block;
  margin: auto;
  max-width: 60%;
}

.text-article img:hover {
  max-width: 100%;
  transition: max-width 1s;
}

.text-article code {
  padding: 3px;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
}

.text-article pre {
  display: block;
  padding: 8px;
  border-radius: 3px;
  background-color: #222;
  max-height: 40em;
  overflow: auto;
}
