.text-article {
  text-align: justify;
  padding: 10px !important;
  line-height: 1.75;
}

.text-article br {
  display: block;
  margin: 5px;
}

.text-article h2 {
  margin-left: 0px;
}

.text-article h3 {
  margin-left: 20px;
}

.text-article h4 {
  margin-left: 60px;
}

.text-article h5 {
  margin-left: 80px;
}

.text-article code {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #222;
  color: #fff;
}
