$color-0: #dc3545;
$color-10: #d36233;
$color-20: #cf7e32;
$color-30: #ca9931;
$color-40: #c6b330;
$color-50: #b8c12e;
$color-60: #98bd2d;
$color-70: #79b92c;
$color-80: #5cb42b;
$color-90: #3fb02a;
$color-100: #29ab2e;

@keyframes progress-bar-animation {
  0% {
    background-color: $color-0;
    width: 0%;
  }
}

@mixin progress-bar-animation-x($percent, $color) {
  width: 1% * $percent;
  background-color: $color;
  animation-name: progress-bar-animation;
  animation-duration: 0.5s * ($percent / 10);
}

.progress-bar-animation-10 { @include progress-bar-animation-x(10, $color-10) }
.progress-bar-animation-20 { @include progress-bar-animation-x(20, $color-20) }
.progress-bar-animation-30 { @include progress-bar-animation-x(30, $color-30) }
.progress-bar-animation-40 { @include progress-bar-animation-x(40, $color-40) }
.progress-bar-animation-50 { @include progress-bar-animation-x(50, $color-50) }
.progress-bar-animation-60 { @include progress-bar-animation-x(60, $color-60) }
.progress-bar-animation-70 { @include progress-bar-animation-x(70, $color-70) }
.progress-bar-animation-80 { @include progress-bar-animation-x(80, $color-80) }
.progress-bar-animation-90 { @include progress-bar-animation-x(90, $color-90) }
.progress-bar-animation-100 { @include progress-bar-animation-x(100, $color-100) }
