// Bootstrap configuration
$theme-colors: (
  dark: #343a40,
  light: #f8f9fa,
  box: #e5e5e5,
  competence-framework: #e8b6b6,
  competence-language: #d7d4ff,
  competence-ide: #fff0d4,
  competence-db: #b6e8d4,
  competence-bigData: #edc4ff,
  competence-dataScience: #c4ecff,
  competence-os: #fad9bf,
  competence-infra: #bfd2fa,
  competence-network: #fffddc,
  competence-tool: #dcfdff,
  competence-management: #cfb7cf,
);

$container-max-widths: (
  xl: 1400px,
  xxl: 1400px,
);

$enable-rounded: false;
$enable-grid-classes: true;

$list-group-item-padding-y: .75rem;
$list-group-item-padding-x: 1.25rem;

// Imports
@import "./fonts.scss";
@import "../../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "~bootstrap";
@import "./animations.scss";
@import "./article.scss";
@import "./print.scss";

// Custom
h1, h2, h3, h4, h5, h6 {
  font-family: title;
}

.cursor-link {
  cursor: pointer;
}

.section-title {
  color: #fff;
  text-shadow: 0rem 0rem .5rem #000;
  text-align: center;
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  .section-title {
    margin-top: 3.5rem;
  }
}

.page-indicator {
  color: #fff;
  text-shadow: 0rem 0rem .5rem #000;
  text-align: center;
}

.box {
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  padding: .5rem;
}

#bg-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: 0.5;
}

.bg-parallax {
  background-image: url("../img/wallpaper-header.webp");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
