$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./animations.scss";

@font-face {
	font-family: "body";
	src: url("../fonts/roboto.ttf") format("truetype");
}

@font-face {
	font-family: "title";
	src: url("../fonts/kenyan-coffee.ttf") format("truetype");
}

@font-face {
	font-family: "print";
	src: url("../fonts/ryman-eco.otf") format("opentype");
}

body {
  font-family: print;
}

h1, h2, h3, h4, h5 {
  font-family: title;
}

.text-article {
  text-align: justify;
  padding: 10px !important;
  line-height: 1.75;
}

.text-article br {
  display: block;
  margin: 5px;
}

.cursor-link {
  cursor: pointer;
}

.section-title {
  color: #fff;
  text-shadow: 0px 0px 8px #000;
  text-align: center;
}

.box {
  border: 1px solid #000;
  border-radius: 1px;
  margin-bottom: 25px;
  padding: 4px;
}

.box-min-height {
  min-height: 300px;
}

#bg-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: 0.5;
}

.bg-parallax {
  background-image: url("../img/wallpaper-header.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-box {
  background-color: #e5e5e5;
}

.bg-color-framework {
  background-color: #e8b6b6;
}

.bg-color-language {
  background-color: #d7d4ff;
}

.bg-color-db {
  background-color: #b6e8d4;
}

.bg-color-bigData {
  background-color: #edc4ff;
}

.bg-color-os {
  background-color: #fad9bf;
}

.bg-color-network {
  background-color: #fffddc;
}

.bg-color-tool {
  background-color: #dcfdff;
}
